<div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/ims.png" class="d-block w-100" style="height:400px; object-fit:contain; background-color: #f8f9fa;" alt="ims">

        </div>
        <!-- 預留未來圖片 -->
        <div class="carousel-item">
            <img src="~/img/ims1.png" class="d-block w-100" style="height:400px; object-fit:contain; background-color: #f8f9fa;" alt="ims1">

        </div>
        <div class="carousel-item">
            <img src="~/img/ims2.png" class="d-block w-100" style="height:400px; object-fit:contain; background-color: #f8f9fa;" alt="ims2">

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
